*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    
    font-size: 16px;
}

body{
    background-color: rgb(231, 231, 196);
}
main{
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}